rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /navlog_dossiers/{document} {
      allow read, write: if true;
    }
    match /quizProgress/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
    match /navlogNotes/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  }
}
